.wall {
    
    background-color: rgb(233, 233, 233);
  }
  
  
.header {
  
    /* Fix header to the top of the window */
    position: fixed;
    top: 0;
    height: 100px;
    width: 100vw;
    z-index: 10;
  
    background-color: white;
  
    /* Bottom line */
    border-bottom: lightgray solid 1px;
  
}
  
.headerHolder {
  
    /* Horizontal centered */
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  
    /* Make two nav buttons in one line */
    display: flex;
    /* float: right; */
  
}
  
  
.navButton {
    
    height: 100%;
    margin-right: 20px;
    padding: 0 20px;

    border-bottom: rgb(3, 42, 42) solid 3px;
  
    /* Make text vertical centered */
    line-height: 100px;
    text-align: center;
  
    /* Font settings */
    font-size: larger;
    color: rgb(3, 42, 42);
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration-line: none;
  
}
  
.wallBody {
    height: 100vh;
    padding-top: 120px;
  
    /* Make all content horizontal centered */
    width: 100vw;
    max-width: 648px;
    margin-left: auto;
    margin-right: auto;

}

.newPost {
    display: inline-block;
    width: 95%;
    margin: auto auto;
    resize: none;
    overflow: auto;
    height: fit-content;
    padding: 10px;
}

.submitPost {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin: 10px 0 10px 0;
    background-color: rgb(157, 219, 157);

    /* Font color */
    color: white;
    font-weight: 600;
    font-size: 1rem;
}